@font-face {
    font-family: "Roboto";
    src: local("Roboto"), local("Roboto-Regular"), url("../font/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto Bold"), local("Roboto-Bold"), url("../font/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto Black"), local("Roboto-Black"), url("../font/Roboto-Black.ttf") format("truetype");
    font-weight: 900;
    font-display: swap;
}


.article {
    max-width: 1440px;
    margin: 0 auto;
    padding: 60px 130px 50px 130px;
}
.article__text:not(:nth-last-child(1)) {
    margin-bottom: 30px;
}

.article__text_bold{
    font-weight: 700;
}

.article__text_color {
    color: #5E5E5E;
}

.article__title {
    font-weight: 900;
    font-size: 60px;
    line-height: 120%;
    margin-bottom: 30px;
}

.article__subtitle {
    font-weight: 900;
    font-size: 36px;
    line-height: 120%;
    margin-bottom: 30px;
}

.article__subtitle_big {
    font-weight: 700;
    font-size: 44px;
    line-height: 120%;
    margin-bottom: 20px;
}

.article__red {
    padding: 25px 45px;
    background: #F1F1F1;
    border-radius: 10px;
}

.article__italic{
    font-style: italic;
}

.article__list-introduction {
    list-style-type: decimal;
    text-decoration: underline;
    padding-inline-start: 25px;
}

.article__list-total {
    padding-inline-start: 17px;
    list-style-type: "\2014";
    margin-bottom: 30px;
}

.article__list-total .article__item {
    padding-left: 5px;
}

.article__item:not(.article__item_color) {
    color: #02535F;
}

.article__li-padding > li:not(:nth-last-child(1)) {
    margin-bottom: 10px;
}

.article__block-one-one {
    display: inline-block;
    width: 560px;
    height: 415px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.article__block-one-two {
    display: inline-block;
    width: 490px;
    float: right;
}

.article__block-one-two > .article__text:not(:nth-last-child(1)){
    padding-bottom: 0;
    margin-bottom: 30px;
}

.article__block-one-three >  .article__text:not(:nth-last-child(1)){
    padding-bottom: 0;
    margin-bottom: 30px;
}

.article__block-one-three {
    display: inline-block;
    width: 480px;
    float: left;
    margin-right: 40px;
}

.article__block-two-one {
    margin-bottom: 30px;
}

.article__block-centered {
    text-align: center;
    margin-bottom: 30px;
}

.article__img_block{
    display: block;
}

.article__block-no-margin {
    text-align: center;
}

.article__block-two-three {
    border-top: 1px solid black;
}

.article__block-two-four {
    padding: 15px 30px;
    margin-bottom: 30px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

