.container {
  max-width: 1080px;
  margin: 0 auto;
}

section:not(:nth-last-of-type(1)) {
  padding-bottom: 25px;
}

section:not(:nth-last-of-type(1)) {
  padding-bottom: 25px;
}

section:nth-last-of-type(1) {
  padding-top: 0;
}


section:nth-of-type(1) {
  padding-top: 50px;
}

.brake-word {
  display: block;
}